@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --main-color: #bd8983;
  --black: hsl(240, 16%, 9%);
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: #fff;
}

section {
  padding: 2rem 7%;
}

.conteinerAll {
  display: none;
}

.margem {
  margin: 8rem 0 8rem 0;
}

.heading {
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  position: relative;
}

.heading::before {
  content: '';
  height: 1px;
  width: 25%;
  position: absolute;
  left: 0;
  top: 30%;
  display: block;
  background-image: linear-gradient(to right, #facbb9, #f0d090);
  z-index: -2;
}

.heading span {
  color: #aaa;
  background-color: #010103;
  text-transform: uppercase;
  padding: 0 12px 0 0;
}

.sub-heading {
  color: #facbb9;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
  margin-top: 1rem;
  display: none;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 5.5rem;
}
.header .navbar {
  display: flex;
  flex-wrap: wrap;
}
.header .navbar a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #565656;
  position: relative;
  letter-spacing: 3px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.header .navbar > a:hover {
  color: #facbb9;
}

.header .navbar > a::before {
  font-size: 1.2rem;
  content: '[';
  position: absolute;
  opacity: 0;
  left: 40px;
  transition: 0.5s ease;
}
.header .navbar > a::after {
  font-size: 1.2rem;
  content: ']';
  position: absolute;
  opacity: 0;
  right: 40px;
  transition: 0.5s ease;
}
.header .navbar > a:hover::before {
  font-size: 1.2rem;
  content: '[';
  position: absolute;
  opacity: 1;
  left: 4px;
}
.header .navbar > a:hover::after {
  font-size: 1.2rem;
  content: ']';
  position: absolute;
  opacity: 1;
  right: 4px;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  display: none;
}

.header .icons div:hover {
  color: var(--main-color);
}

.language {
  position: relative;
  margin-left: 10px;
  font-weight: bold;
}
.language-selected {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  color: #000000;
  cursor: pointer;
}

.navbar > .language ul {
  position: absolute;
  width: 130px;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 6px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
}
.language ul li {
  list-style: none;
  margin-bottom: 10px;
}
.language .ulLang .en {
  font-size: 0.5rem;
  color: red;
}
.language .ulLang .br {
  font-size: 0.5rem;
  color: red;
}
.language .ulLang .fr {
  font-size: 0.5rem;
  color: red;
}

#visao-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
  font-family: 'Raleway', sans-serif;
}

.home {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}

.home .imgBackground {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: url(../images/cascatas.jpg);
  background-size: cover;
  background-position: center;
  animation: zoom 24s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .content h4 {
  font-size: 7.2rem;
  font-weight: 1;
  line-height: 60px;
  letter-spacing: 3px;
  text-align: center;
  padding: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.home .content h2 {
  font-size: 7.2rem;
  font-weight: 1;
  line-height: 70px;
  letter-spacing: 3px;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.home .content h1 {
  font-size: 8rem;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.home .content p {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 4px;
  letter-spacing: 3px;
  text-align: center;
  padding: 1rem 0;
  color: #eee;
  font-family: 'Raleway', sans-serif;
}
.areaBtnHome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}
.btnHome {
  min-width: 148px;
  height: 40px;
  letter-spacing: 3px;
  font-weight: 900;
  margin-top: 20px;
  margin-left: 6px;
  padding: 0 8px 0 8px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: #edd8ce;
  font-family: 'Raleway', sans-serif;
}
.margintop {
  margin-top: 12px;
}

.gotoTop {
  width: 100%;
  height: 26px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.gotoTop > .txtGotoTop::before {
  font-size: 1.3rem;
  content: '[';
  position: absolute;
  opacity: 0;
  left: 16px;
  transition: 0.5s ease;
}
.gotoTop > .txtGotoTop::after {
  font-size: 1.3rem;
  content: ']';
  position: absolute;
  opacity: 0;
  right: 16px;
  transition: 0.5s ease;
}
.gotoTop > .txtGotoTop:hover::before {
  font-size: 1.3rem;
  content: '[';
  position: absolute;
  opacity: 1;
  left: -12px;
}
.gotoTop > .txtGotoTop:hover::after {
  font-size: 1.3rem;
  content: ']';
  position: absolute;
  opacity: 1;
  right: -12px;
}

.txtGotoTop {
  position: relative;
  font-size: 1.3rem;
  font-weight: 900;
  color: #575757;
}
.spangotoTop {
  font-size: 1.3rem;
  font-weight: 900;
  color: #ff986f;
  margin-left: 4px;
}
.left {
  width: 26px;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  z-index: 999;
}
.left .iconsLeft {
  color: rgb(126, 126, 126);
  font-size: 13px;
  margin-top: 14px;
}
.right {
  width: 26px;
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
}

.backgroudSemiBlack {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 38, 38, 0.782);
  z-index: 1;
}
.areaGray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 111, 111, 0.44);
  filter: blur(0px);
  z-index: -1;
}
.areaBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.59);
  filter: blur(50px);
  z-index: -1;
}

.qualidades {
  width: 100%;
  height: 160px;
  position: relative;
  margin: 10px;
  background: url('../images/imagem1.jpg') repeat fixed 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.qualidades .box-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}
.qualidades .box-container .myQualidade {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 12;
}
.qualidades .box-container h2 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: #facbb9;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-bottom: 10px;
}
.qualidades .box-container p {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}

.aboutUs {
  width: 100%;
  position: relative;
  
}
.aboutUs .boxAbout {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.aboutUs .box-container h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: rgb(72, 72, 72);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.aboutUs .box-container span {
  font-size: 7rem;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 3px;
  color: #a7a7a7;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.aboutUs .box-container h5 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
  color: var(--main-color);
}

.aboutUs .box-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #111;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}

.ourValues {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.ourValues .img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: url(../images/imagem2.jpg) 100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: zoom 20s linear infinite;
}

.backgroudblack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a4;
  z-index: 1;
}

.ourValues h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: #facbb9;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}
.ourValues span {
  font-size: 7rem;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}

.ourValues h5 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  z-index: 11;
}
.ourValues .boxValues {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 11;
}

.ourValues .boxValues .myValues {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 20px;
}
.ourValues .boxValues .areaIcon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 100%;
}
.ourValues .boxValues .areaIcon .icons {
  color: #fff;
  font-size: 3rem;
}
.ourValues .boxValues h5 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(186, 186, 186);
}
.ourValues .boxValues p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}

.ourTeam {
  width: 100%;
  position: relative;
}
.ourTeam .boxAbout {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.ourTeam .box-container h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: rgb(72, 72, 72);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.ourTeam .box-container span {
  font-size: 7rem;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 3px;
  color: #a7a7a7;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ourTeam .box-container h5 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
  color: var(--main-color);
}

.ourTeam .box-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #111;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}

.ourValues {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.ourValues .img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: url(../images/imagem2.jpg) 100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: zoom 20s linear infinite;
}

.ourServices {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.ourServices .img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: url(../images/imagem3.jpg) 100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: zoom 20s linear infinite;
}

.ourServices h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: #facbb9;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}
.ourServices span {
  font-size: 7rem;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}

.ourServices h5 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  z-index: 11;
}
.ourServices p {
  max-width: 1100px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 20px;
  color: #fff;
  z-index: 11;
}
.ourServices .boxServices {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 11;
}

.ourServices .boxServices .myServices {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 20px;
}
.ourServices .boxServices .areaIcon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 100%;
}
.ourServices .boxServices .areaIcon .icons {
  color: #fff;
  font-size: 3rem;
}
.ourServices .boxServices h5 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(186, 186, 186);
}
.ourServices .boxServices p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}

.ourProcess {
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.ourProcess .box-container {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 40px;
}

.ourProcess .box-container h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: rgb(72, 72, 72);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.ourProcess .box-container span {
  font-size: 7rem;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 3px;
  color: #a7a7a7;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.ourProcess .box-container h5 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
  color: var(--main-color);
}

.ourProcess .box-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #111;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}

.ourProcess .boxValues {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 11;
}
.ourProcess .boxValues .myValues {
  max-width: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 20px;
}
.ourProcess .boxValues .areaIcon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #646464;
  border-radius: 20%;
}
.ourProcess .boxValues .areaIcon .icons {
  color: #f8d2c7bd;
  font-size: 4rem;
}
.ourProcess .boxValues h5 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 20px;
  color: #111;
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(186, 186, 186);
}
.ourProcess .boxValues p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #111;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
}

.contactUs {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contactUs .img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: url(../images/imagem4.jpg) 100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: zoom 20s linear infinite;
}

.contactUs .headerContact {
  display: flex;
  flex-direction: row;
}
.contactUs .boxContactUs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 40px 20px 40px 20px;
  z-index: 11;
}

.contactUs .boxContactUsRigth {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contactUs .headerContact h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: #facbb9;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}
.contactUs span {
  font-size: 7rem;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}

.contactUs h5 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  z-index: 11;
}
.contactUs p {
  max-width: 1100px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 20px;
  color: #fff;
  z-index: 11;
}

.contactUs .contactLeft {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.contactUs .boxContactUs p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: right;
  line-height: 4px;
  letter-spacing: 1px;
  color: #fff;
  z-index: 11;
}
.contactUs .boxContactUs .linkTxt {
  font-weight: 700;
  color: #adadad;
}
.contactUs .boxContactUs .inputs:focus {
  box-shadow: 1px 1px 8px 1px #51aeff6e;
}

.contactUs .boxContactUsRigth .boxContactUsRigthNameEmail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.contactUs .boxContactUs #name {
  width: 280px;
  height: 36px;
  font-weight: 900;
  color: #fff;
  padding: 8px;
  margin-right: 28px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #636363;
  border-radius: 5px;
}
.contactUs .boxContactUs #email {
  width: 280px;
  height: 36px;
  font-weight: 900;
  color: #fff;
  padding: 8px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid #636363;
  border-radius: 5px;
}
.contactUs .boxContactUs #sms {
  font-weight: 900;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #636363;
  border-radius: 8px;
}
.contactUs .icons {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 100%;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactUs .icons a {
  font-size: 14px;
  color: #111;
}
.contactUs #submit {
  width: 70px;
  height: 40px;
  font-size: 14px;
  margin-top: 14px;
  align-self: flex-end;
  color: #afafaf9a;
  background-color: transparent;
  border: 1px solid #636363;
}

.contactUs .contentGoMap {
  width: 100%;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactUs #goMap {
  width: 202px;
  height: 40px;
  font-size: 14px;
  margin-top: 14px;
  display: flex;
  align-self: flex-end;
  color: #ffffff;
  font-weight: 680;
  align-items: center;
  justify-content: center;
  background-color: #bababa3c;
  border: 1px solid #ffffff;
}

.footer {
  background: #636363;
  text-align: center;
}

/* media queries  */

@media (max-width: 1031px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .qualidades {
    display: none;
  }

  .footer .box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer .box-container .box {
    margin-left: 30px;
    margin-right: 30px;
  }

  .aboutUs .box-container p {
    width: 90%;
  }
  .ourValues p {
    width: 90%;
  }
  .ourTeam .box-container p {
    width: 90%;
  }
  .ourServices p {
    width: 90%;
  }
  .ourProcess .box-container p {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .aboutUs .box-container h1 {
    font-size: 5rem;
  }
  .aboutUs .box-container span {
    font-size: 5rem;
  }

  .ourValues h1 {
    font-size: 5rem;
  }

  .ourValues span {
    font-size: 5rem;
  }

  .ourTeam .box-container h1 {
    font-size: 5rem;
  }
  .ourTeam .box-container span {
    font-size: 5rem;
  }

  .ourServices h1 {
    font-size: 5rem;
  }
  .ourServices span {
    font-size: 5rem;
  }

  .ourProcess .box-container h1 {
    font-size: 5rem;
  }
  .ourProcess .box-container span {
    font-size: 5rem;
  }
}
@media (max-width: 844px) {
  .footer .box-container {
    flex-wrap: wrap;
  }
  .footer .box-container .box {
    align-items: center;
  }
}

@media (max-width: 868px) {
  .contactUs .boxContactUs {
    display: flex;
    flex-direction: column-reverse;
  }

  .contactUs .boxContactUs .contactLeft {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contactUs .boxContactUsRigth {
    width: 100%;
  }

  .contactUs .boxContactUs p {
    text-align: center;
    line-height: 20px;
  }

  #visao-btn {
    display: block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .language ul {
    position: absolute;
    top: -158px;
    left: -80px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 6px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    /* display: none; */
  }

  .language ul li > a.br {
    font-size: 1.35rem;
  }

  .language ul li > a.en {
    font-size: 1.35rem;
  }

  .language ul li > a.fr {
    font-size: 1.35rem;
  }

  .header .navbar .linkmenu {
    font-size: 1.2rem;
  }
  .header .navbar > a:hover {
    color: var(--main-color);
    padding-left: 16px;
    padding-right: 16px;
  }
  .header .navbar > a::before {
    font-size: 1.4rem;
    content: '[';
    position: absolute;
    left: 40px;
    opacity: 0;
  }
  .header .navbar > a::after {
    font-size: 1.4rem;
    content: ']';
    position: absolute;
    right: 40px;
    opacity: 0;
    transition: 0.7s ease;
  }
  .header .navbar > a:hover::before {
    font-size: 1.4rem;
    content: '[';
    position: absolute;
    display: inline;
    left: 0;
    opacity: 1;
    transition: 0.7s ease;
  }
  .header .navbar > a:hover::after {
    font-size: 1.4rem;
    content: ']';
    position: absolute;
    display: inline;
    right: 0;
    opacity: 1;
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }

  .header .icons div {
    color: var(--main-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    display: inline;
  }
}

@media (max-width: 630px) {
  .contactUs .boxContactUsRigth .boxContactUsRigthNameEmail {
    width: 100%;
    flex-direction: column;
  }

  .contactUs .boxContactUs #name {
    width: 100%;
  }
  .contactUs .boxContactUs #email {
    width: 100%;
  }
  .contactUs .boxContactUs #sms {
    width: 100%;
  }
}

@media (max-width: 562px) {
  .aboutUs .box-container h1 {
    font-size: 4rem;
  }
  .aboutUs .box-container span {
    font-size: 4rem;
  }
  .ourValues h1 {
    font-size: 4rem;
  }
  .ourValues span {
    font-size: 4rem;
  }
  .ourTeam .box-container h1 {
    font-size: 4rem;
  }
  .ourTeam .box-container span {
    font-size: 4rem;
  }
  .ourServices h1 {
    font-size: 4rem;
  }
  .ourServices span {
    font-size: 4rem;
  }
  .ourProcess .box-container h1 {
    font-size: 4rem;
  }
  .ourProcess .box-container span {
    font-size: 4rem;
  }
  .contactUs .headerContact h1 {
    font-size: 4rem;
  }
  .contactUs .headerContact span {
    font-size: 4rem;
  }
}
@media (max-width: 518px) {
  .home .content h4 {
    font-size: 5.6rem;
  }
  .home .content h2 {
    font-size: 9.8rem;
  }
  .home .content h1 {
    font-size: 9.8rem;
  }

  .home .content p {
    font-size: 1em;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 420px) {
  .home .content h4 {
    font-size: 4rem;
  }
  .home .content h2 {
    font-size: 8rem;
  }
  .home .content h1 {
    font-size: 8rem;
  }

  .home .content p {
    font-size: 1em;
  }
}
