@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --main-color: #bd8983;
  --black: hsl(240, 16%, 9%);
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: #fff;
}

section {
  padding: 2rem 7%;
}

.conteinerAll {
  display: none;
}


.home {
  min-height: 40vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}

.home .imgBackground {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-image: url(../../../images/cascatas.jpg);
  background-size: cover;
  background-position: center;
  animation: zoom 24s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.home .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .content h4 {
  font-size: 7.2rem;
  font-weight: 1;
  line-height: 60px;
  letter-spacing: 3px;
  text-align: center;
  padding: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.home .content h2 {
  font-size: 7.2rem;
  font-weight: 1;
  line-height: 70px;
  letter-spacing: 3px;
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.home .content h1 {
  font-size: 8rem;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.home .content p {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 4px;
  letter-spacing: 3px;
  text-align: center;
  padding: 1rem 0;
  color: #eee;
  font-family: 'Raleway', sans-serif;
}
.areaBtnHome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}
.btnHome {
  min-width: 148px;
  height: 40px;
  letter-spacing: 3px;
  font-weight: 900;
  margin-top: 20px;
  margin-left: 6px;
  padding: 0 8px 0 8px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: #edd8ce;
  font-family: 'Raleway', sans-serif;
}
.margintop {
  margin-top: 12px;
}

.areaGray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 111, 111, 0.44);
  filter: blur(0px);
  z-index: -1;
}
.areaBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.59);
  filter: blur(50px);
  z-index: -1;
}

.ourValues {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.ourValues .img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: url(../images/imagem2.jpg) 100% no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: zoom 20s linear infinite;
}

.backgroudblack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a4;
  z-index: 1;
}

.ourValues h1 {
  font-size: 7rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: #facbb9;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}
.ourValues span {
  font-size: 7rem;
  font-weight: 600;
  font-weight: 800;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
  z-index: 11;
}

.ourValues h5 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  z-index: 11;
}
.ourValues .boxValues {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 11;
}

.ourValues .boxValues .myValues {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 20px;
}
.ourValues .boxValues .areaIcon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 100%;
}
.ourValues .boxValues .areaIcon .icons {
  color: #fff;
  font-size: 3rem;
}
.ourValues .boxValues h5 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(186, 186, 186);
}
.ourValues .boxValues p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}

/* media queries  */
@media (max-width: 1031px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
  
  .ourValues p {
    width: 90%;
  }
  
}
@media (max-width: 850px) {
  .ourValues h1 {
    font-size: 5rem;
  }

  .ourValues span {
    font-size: 5rem;
  }

}

@media (max-width: 562px) {
  
  .ourValues h1 {
    font-size: 4rem;
  }
  .ourValues span {
    font-size: 4rem;
  }
}
